@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.filter {

    &__section {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }

    &__label {
        font-size: 20px;
        margin-right: 8px;
    }

    &__box {
        margin-right: 20px;
        background-color: $color__inputs;
        height: 25px;
        border: none;
        border-radius: 5px;
    }

    &__movie {
        margin-left: 50px;
    }
}