@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.header__Title {
    font-family: $font;
    display: flex;
    justify-content: center;
    margin: 40px 0px 60px 0px;
    color: $color__title;
}

