@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.header { 
   display: flex;
   justify-content: center;
   margin: 40px 0px 40px 0px;
   margin-bottom: 80px;
  

 &__Title {
    font-family: $font;
    display: flex;
    justify-content: center;
    margin: 40px 0px 60px 0px;
    color: $color__letter;
 }
  &__Image {
     width: 100px;
     margin-left: 30px;
 }
}


