@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.movieSceneDetail {

      &__section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #0B1613;
    }
    
    
        &__img {
           width: 400px;
           padding: 30px 0px 30px 30px;
           background-color: $color__inputs;
        }


       &__detail {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: $color__inputs;
            font-size: 20px;
          
         }

        &__name {
           font-size: 30px;
           margin-bottom: 10px;

         }

        &__wow {
            margin-bottom: 10px;

         }

        &__director {
            margin-bottom: 20px;

       }

       &__audio {
        margin-bottom: 40px;

       }

       &__button {
           outline: none;
           box-shadow: none;
           padding: 8px;
           background-color: $color__btn;
           border: none;
           border-radius: 4px;
           cursor: pointer;

           &__href {
               color: whitesmoke;
           }

           &:hover {
               background-color: $color__hoverBtn;
           }
       }

       
     
   
     
   
       &__span {
           margin-right: 5px;
       }
   }