@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.movieSceneItem {

display: flex;
flex-direction: column;
align-items: center;

    &__image {
        width: 270px;
     }
}