@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.movieSceneList {
    
&__list {
    text-decoration: none;
}

&__poster {
border: 1px solid black;  
text-decoration: none;
}
}


   