@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.movieSceneDetail {

      &__section {
      display: flex;
      flex-direction: row;
      justify-content: center;
     
    }
    
        &__img {
           width: 300px;
           padding: 10px;
           background-color: $color__background;
        }


       &__detail {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding: 30px;
            font-size: 20px;
            background-color: $color__background;
          
         }

        &__name {
           font-size: 30px;
           margin-bottom: 25px;

         }

        &__wow {
            margin-bottom: 20px;

         }

        &__director {
            margin-bottom: 20px;

       }


       &__headphones {
           color: $color__hoverBtn;
           transition: transform 0.8 1s;
           &:hover {
             transform: scale(1.2);
           }
           
       }

       &__audio {
        margin-bottom: 40px;
        text-decoration: none;
       }
    }
  

.button {
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 3px solid $color__btn;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    background-color: $color__background;
    color: white;
   
   }
   
   .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: $color__btn;
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button:hover {
    color: #fff;
   }
   
  .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button:active:before {
    background: $color__hoverBtn;
    transition: background 0s;
   }

//    .back {
//        color: white;
//    }