@import '../Core/Reset.scss';
@import "../Core/Variables.scss";

.movieSceneItem {

 display: flex;
 flex-direction: column;
 align-items: center;
 color: #0B1613;


 &__img {
    width: 270px;
    margin-bottom: 10px;
    border-radius: 5px;
    }

 &__movieYear {
    display: flex;
    margin-bottom: 10px;
    &:hover{color: #123F33;} 
    }

 &__name {
    margin-right: 10px;
    }

 &__span {
    margin-right: 5px;
    }
  }