//FONTS
$font: 'Prompt', sans-serif;
$font-family: 'Varela Round', sans-serif;




//COLORS
$color__background: #F6F454;

$color__inputs: #8BB892;
$color__alert: #f8aa00;
$color__title: #435947;
$color__btn: #63e6be;
$color__hoverBtn: #0ca678;
$color__letter: #183153;